<strong>Olá, {{ name }}</strong>
<p>Temos o prazer de anuncia-lo como novo estudante na <b>Gympoint!</b></p>
<p>Abaixo dados da sua matricula: </p>
<p>
	<strong>Plano: </strong> {{ plan }} <br />
	<strong>Duracao em meses: </strong> {{ plan_duration }} <br />
	<strong>Valor mensal: </strong> {{ plan_price }} <br />
	<strong>Valor total: </strong> {{ plan_total }} <br />
	<strong>Data inicial: </strong> {{ start_date }} <br />
	<strong>Data final: </strong> {{ end_date }} <br />
	<br />
</p>
